<!-- Google Search Console 所有者確認 -->
<meta name="google-site-verification" content="Jwsc5u0nxhh9gS_LhzisLkziTqB2OLpjYRHQx8eHVsw" />

{{ if not .IsHome }}
  <meta name="robots" content="noindex, nofollow">
{{ end }}
<!-- OGP基本 -->
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ .Description }}">
{{ with .Params.images }}
<meta property="og:image" content="{{ (index . 0) | absURL }}">
{{ end }}
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Permalink }}">

<!-- Twitter Card（小さいカード） -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ .Description }}">
{{ with .Params.images }}
<meta name="twitter:image" content="{{ (index . 0) | absURL }}">
{{ end }}